@model Display
@{
    ViewData["Title"] = "Monitor";
}

<h2>Buscar monitor</h2>

<h3>Ingrese la marca del Monitor que desea buscar</h3>
<div>
    <form method="post">
        <div>
            <label asp-for="Marca" class="form-label"></label>
            <input asp-for="Marca" required placeholder="Ejemplo:Acer" class="form-control" />
        </div>


        <input type="submit" value="Buscar" />
    </form>




</div>
