@model Display
@{
    ViewData["Title"] = "Monitor";
}

<h1>Monitor</h1>


<p>Numero de inventario: @Model.NumInvId</p>
<p>Numero de serie: @Model.NumSerie</p>
<p>Marca: @Model.Marca</p>
<p>Estado: @Model.estado</p>



