@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventario</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="~/Assets/logo.png" type="image/x-icon">
  <!-- Custom styles -->
  @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true"/> *@
  <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
  <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
  <div class="layer"></div>
  <!-- ! Body -->
  <a class="skip-link sr-only" href="#skip-target">Skip to content</a>
  <div class="page-flex">
    <!-- ! Sidebar -->
    <aside class="sidebar">
      <div class="sidebar-start">
        <div class="sidebar-head">
          <a asp-controller="Computadora" asp-action="Index" class="logo-wrapper" title="Home">
            <span class="sr-only">Home</span>
            <img src="~/Assets/logo.png" class="icon logo" aria-hidden="true"></span>
            <div class="logo-text">
              <span class="logo-title">Inventario</span>
              <span class="logo-subtitle">PC</span>
            </div>

          </a>
          <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
            <span class="sr-only">Toggle menu</span>
            <span class="icon menu-toggle" aria-hidden="true"></span>
          </button>
        </div>
        <div class="sidebar-body">
          <ul class="sidebar-body-menu">
            <li>
            <li>
              <a class="show-cat-btn" href="##">
                <img src="~/Assets/compu.png" class="icon home" />Informatica
                <span class="category__btn transparent-btn" title="Open list">
                  <span class="sr-only">Open list</span>
                  <span class="icon arrow-down" aria-hidden="true"></span>
                </span>
              </a>
              <ul class="cat-sub-menu">
                <li>
                  <a class="active" asp-controller="Computadora" asp-action="Index"><img src="~/Assets/Computer.png"
                      class="icon home">Pc</a>
                </li>
                <li>
                  <a asp-controller="Micro" asp-action="Index">
                    <img src="~/Assets/Micro.png" class="icon home"></span>Micros
                  </a>
                </li>
                <li>
                  <a asp-controller="MemoriaRam" asp-action="Index">
                    <img src="~/Assets/memoryram.png" class="icon home">Memoria
                  </a>
                </li>
                <li>
                  <a asp-controller="MotherBoard" asp-action="Index">
                    <img src="~/Assets/motherboard.png" class="icon home">
                    Boards
                  </a>
                <li>
                  <a asp-controller="DiscoDuro" asp-action="Index">
                    <img src="~/Assets/DiscoDuro.png" class="icon home">
                    Discos
                  </a>
                </li>
                <li>
                  <a asp-controller="Laptop" asp-action="Index">
                    <img src="~/Assets/laptop.png" class="icon home">
                    Laptop
                  </a>
                </li>
            </li>
          </ul>
          <ul class="sidebar-body-menu">
            <li>
            <li>
              <a class="show-cat-btn" href="##">
                <img src="~/Assets/comuni.png" class="icon home" />Comunicaciones
                <span class="category__btn transparent-btn" title="Open list">
                  <span class="sr-only">Open list</span>
                  <span class="icon arrow-down" aria-hidden="true"></span>
                </span>
              </a>
              <ul class="cat-sub-menu">
                <li>
                  <a asp-controller="Celular" asp-action="Index">
                    <img src="~/Assets/celular.png" class="icon home">
                    Celular
                  </a>
                </li>
                <li>
                  <a asp-controller="Telefono" asp-action="Index">
                    <img src="~/Assets/telefono.png" class="icon home">
                    Telefono
                  </a>
                </li>
            </li>
          </ul>
          <ul class="sidebar-body-menu">
            <li>
            <li>
              <a class="show-cat-btn" href="##">
                <img src="~/Assets/otros.png" class="icon home" />Otros
                <span class="category__btn transparent-btn" title="Open list">
                  <span class="sr-only">Open list</span>
                  <span class="icon arrow-down" aria-hidden="true"></span>
                </span>
              </a>
              <ul class="cat-sub-menu">
                <li>
                  <a asp-controller="Display" asp-action="Index">
                    <img src="~/Assets/monitor.png" class="icon home">Monitor
                  </a>
                </li>
                <a asp-controller="Teclado" asp-action="Index">
                  <img src="~/Assets/keyboard.png" class="icon home">Teclado
                </a>
            </li>
            <li>
              <a asp-controller="Usuario" asp-action="index">
                <img src="~/Assets/User.png" class="icon home">Trabajadores
              </a>
            </li>
            <li>
              <a asp-controller="Ups" asp-action="Index">
                <img src="~/Assets/ups.png" class="icon home">
                Ups
              </a>
            </li>
            <li>
              <a asp-controller="Impresora" asp-action="Index">
                <img src="~/Assets/impresora.png" class="icon home">
                Impresoras
              </a>
            </li>
            <li>
              <a asp-controller="Scanner" asp-action="Index">
                <img src="~/Assets/scaner.png" class="icon home">
                Scanner
              </a>
            </li>
            </li>
          </ul>
          </li>
          <a class="show-cat-btn" href="##">
            <img src="~/Assets/registro.png" class="icon home" />Libro
            <span class="category__btn transparent-btn" title="Open list">
              <span class="sr-only"></span>
              <span class="icon arrow-down" aria-hidden="true"></span>
            </span>
          </a>
          <ul class="cat-sub-menu">
            <li>
              <a class="active" asp-controller="Entrada" asp-action="Index"><img src="~/Assets/entrada.png"
                  class="icon home">Entradas</a>
            </li>
            <li>
              <a asp-controller="Salida" asp-action="Index">
                <img src="~/Assets/salida.png" class="icon home"></span>Salidas
              </a>
            </li>
          </ul>
          </ul>
          <span class="system-menu__title">system</span>
          <ul class="sidebar-body-menu">
            <li>
              <a class="show-cat-btn" href="##">
                <span class="icon user-3" aria-hidden="true"></span>Users
                <span class="category__btn transparent-btn" title="Open list">
                  <span class="sr-only">Open list</span>
                  <span class="icon arrow-down" aria-hidden="true"></span>
                </span>
              </a>
              <ul class="cat-sub-menu">
                <li>
                  <a asp-controller="User" asp-action="Register">Registrar</a>
                </li>
                <li>
                  <a asp-controller="User" asp-action="ListaUser">Registro de usuarios</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </aside>
    <div class="main-wrapper">
      <!-- ! Main nav -->
      <nav class="main-nav--bg">
        <div class="container main-nav">
          <div class="main-nav-start">
            <div class="search-wrapper">
              <input type="text" id="search" placeholder="Enter keywords ..." required>
              <button type="button" class="btn btn-primary buttonSearch">Buscar</button>
            </div>
          </div>
          <div class="main-nav-end">
            <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
              <span class="sr-only">Toggle menu</span>
              <span class="icon menu-toggle--gray" aria-hidden="true"></span>
            </button>
            <button class="theme-switcher gray-circle-btn" type="button" title="Switch theme">
              <span class="sr-only">Switch theme</span>
              <i class="sun-icon" data-feather="sun" aria-hidden="true"></i>
              <i class="moon-icon" data-feather="moon" aria-hidden="true"></i>
            </button>
            <div class="notification-wrapper">
              <button class="gray-circle-btn dropdown-btn" title="To messages" type="button">
                <span class="sr-only">To messages</span>
                <span class="icon notification active" aria-hidden="true"></span>
              </button>
              <ul class="users-item-dropdown notification-dropdown dropdown">
                <li>
                  <a href="##">
                    <div class="notification-dropdown-icon info">
                      <i data-feather="check"></i>
                    </div>
                    <div class="notification-dropdown-text">
                      <span class="notification-dropdown__title">System just updated</span>
                      <span class="notification-dropdown__subtitle">The system has been successfully upgraded. Read more
                        here.</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="##">
                    <div class="notification-dropdown-icon danger">
                      <i data-feather="info" aria-hidden="true"></i>
                    </div>
                    <div class="notification-dropdown-text">
                      <span class="notification-dropdown__title">The cache is full!</span>
                      <span class="notification-dropdown__subtitle">Unnecessary caches take up a lot of memory space and
                        interfere ...</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="##">
                    <div class="notification-dropdown-icon info">
                      <i data-feather="check" aria-hidden="true"></i>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="link-to-page" href="##">Go to Notifications page</a>
                </li>
              </ul>
            </div>
            <div class="nav-user-wrapper">
              <button href="##" class="nav-user-btn dropdown-btn" title="My profile" type="button">
                <span class="sr-only">User</span>
                <span class="nav-user-img">
                  <picture>
                    <source srcset="~/img/avatar/avatar-illustrated-02.webp" type="image/webp"><img
                      src="~/img/avatar/avatar-illustrated-02.png" alt="User name">
                  </picture>
                </span>
              </button>
              <ul class="users-item-dropdown nav-user-dropdown dropdown">
                <li><a href="##">
                    <i data-feather="user" aria-hidden="true"></i>
                    <span>@User.Identity.Name</span>
                  </a></li>
                <li><a href="##">
                    <i data-feather="settings" aria-hidden="true"></i>
                    <span>Cuenta</span>
                  </a></li>
                <li><a class="danger" asp-controller="User" asp-action="Salir">
                    <i data-feather="log-out" aria-hidden="true"></i>
                    <span>Cerrar sesión</span>
                  </a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <!-- ! Main -->
      <main class="container main user" id="skip-target">
        @RenderBody()
      </main>
      <!-- ! Footer -->
      <footer class="footer">
        <div class="container footer--flex">
          <div class="footer-start">
            <p>2022 © InventarioPc - <a href="elegant-dashboard.com" target="_blank"
                rel="noopener noreferrer">elegant-dashboard.com</a></p>
          </div>
          <ul class="footer-end">
            <li><a href="##">About</a></li>
            <li><a href="##">Support</a></li>
            <li><a href="##">Puchase</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </div>

  <!-- Chart library -->

  <script src="~/js/filtro.js"></script>

  <script src="~/js/validaciones.js"></script>

  <script src="~/plugins/chart.min.js"></script>
  <!-- Icons library -->
  <script src="~/plugins/feather.min.js"></script>
  <!-- Custom scripts -->
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/script.js"></script>

  @* <script src="~/js/darkmode.js"></script> *@

  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>