@* @model List<ObjetoEscuelaBase> *@

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Id</th>
      <th scope="col">Id</th>
      <th scope="col">Id</th>
      <th scope="col">Id</th>
      @* <th scope="col">Curso id</th> *@
    </tr>
  </thead>
  <tbody>

    @foreach (var obj in Model)
    {
      <tr>
        <td>@obj.Nombre</td>
        <td>@obj.Id</td>
        @* <td>@obj.CursoId</td> *@
      </tr>
    }
