@model MicroProcesador
@{
    ViewData["Title"] = "Micro";
}


<h2>Buscar Micro</h2>

<h3>Ingrese la marca del micro</h3>
<div>
    <form method="post">
        <div>
            <label asp-for="Marca" class="form-label"></label>
            <input asp-for="Marca" required placeholder="Ejemplo:Intel" class="form-control" />
        </div>


        <input type="submit" value="Buscar" />
    </form>




</div>
