@model MicroProcesador
@{
    ViewData["Title"] = "Microprocesador";
}

<h1>MicroProcesador</h1>

<p>Numero de serie: @Model.NumSerieId</p>
<p>Marca: @Model.Marca</p>
<p>Tecnologia: @Model.Tecnologia</p>
<p>Estado: @Model.estado</p>


