@model Computadora
@{
    ViewData["Title"] = "Computadora";
}


<h3>Vas a buscar una Pc</h3>
<div>
    <h4>Ingresa el inv de la PC</h4>
    <form method="post">
        <div>
            <label asp-for="Nombre" class="form-label"></label>
            <input asp-for="Nombre" placeholder="Ejemplo OFC-ECO-CONT O OFC" class="form-control" />
        </div>

        <input type="submit" value="Buscar" />
    </form>


    

</div>
