@model Computadora
@{
    ViewData["Title"] = "Computadora";
}

<h1>Inserta los datos de la nueva PC</h1>
<Form method="post">
    <div class="mb-3">
      <label asp-for="NumInvId" class="form-label"></label>
      <input asp-for="NumInvId" type="text" required placeholder="Ejemplo: 4567" class="form-control">
    </div>
    <div class="mb-3">
      <label asp-for="NombreDepartamento" class="form-label"></label>
      <input asp-for="NombreDepartamento" type="text" required placeholder="Ejemplo: Economia" class="form-control" >
    </div>
    <div class="mb-3">
      <label asp-for="NombreArea" class="form-label"></label>
      <input asp-for="NombreArea" type="text" required placeholder="Ejemplo: UEB Taguasco" class="form-control">
    </div>
    <div class="mb-3">
      <label asp-for="Nombre" class="form-label"></label>
      <input asp-for="Nombre" type="text" required placeholder="Ejemplo: TAG-ECO-CONT" class="form-control">
    </div>
    <div class="mb-3">
      <label asp-for="MemoriaRamId" class="form-label"></label>
      <input asp-for="MemoriaRamId" type="text" required placeholder="Ejemplo: d5d5d5373d773j555" class="form-control">
    </div>
    <div class="mb-3">
      <label asp-for="Mac" class="form-label"></label>
      <input asp-for="Mac" type="text" required placeholder="Ejemplo: d5d5d5373d773j555" class="form-control">
    </div>
    <div class="mb-3">
      <label asp-for="NumIp"></label>
      <input asp-for="NumIp" type="text" required placeholder="Ejemplo: 172.19.228.10" class="form-control">
    </div>
    <div class="mb-3">
      <label asp-for="ImpresoraId" class="form-label"></label>
      <input asp-for="ImpresoraId" type="text" required placeholder="Ejemplo: d5d5d5373d773j555" class="form-control">
    </div>
    <div class="mb-3">
      <label asp-for="NombreUsuarioId" class="form-label"></label>
      <input asp-for="NombreUsuarioId" type="text" required placeholder="Ejemplo: juan.perez" class="form-control">
    </div>
    <div class="mb-3"> 
      <label asp-for="DiscoDuroId" class="form-label"></label>
      <input asp-for="DiscoDuroId" type="text" required placeholder="Ejemplo: d5d5d5373d773j555" class="form-control">
    </div>
    <div class="mb-3">
      <label asp-for="MicroProcesadorId" class="form-label"></label>
      <input asp-for="MicroProcesadorId" type="text" required placeholder="Ejemplo: d5d5d5373d773j555" class="form-control">
    </div>
    <div class="mb-3">
      <label asp-for="MotherBoardId" class="form-label"></label>
      <input asp-for="MotherBoardId" type="text" required placeholder="Ejemplo: d5d5d5373d773j555" class="form-control">
    </div>
    <div class="mb-3">
      <label asp-for="MonitorId" class="form-label"></label>
      <input asp-for="MonitorId" type="text" required placeholder="Ejemplo: d5d5d5373d773j555" class="form-control">
    </div>
    <div class="mb-3">
      <label asp-for="TecladoId" class="form-label"></label>
      <input asp-for="TecladoId" type="text" required placeholder="Ejemplo: 4574" class="form-control">
    </div>

     <div class="mb-3">
        <label asp-for="estado" class="form-label"></label>
        
        @Html.DropDownList(
            "estado", Html.GetEnumSelectList<Estado>(),
            "Seleccione un estado"
    
        )
    </div>
    <input type="submit" value = "Crear" >
</Form>




