@model ProyectoInventarioASP.Models.Computadora

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Computadora</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumInvId" class="control-label"></label>
                <input asp-for="NumInvId" class="form-control" />
                <span asp-validation-for="NumInvId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreDepartamento" class="control-label"></label>
                <input asp-for="NombreDepartamento" class="form-control" />
                <span asp-validation-for="NombreDepartamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreArea" class="control-label"></label>
                <input asp-for="NombreArea" class="form-control" />
                <span asp-validation-for="NombreArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado" class="control-label"></label>
                <select asp-for="estado" class="form-control"></select>
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mac" class="control-label"></label>
                <input asp-for="Mac" class="form-control" />
                <span asp-validation-for="Mac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumIp" class="control-label"></label>
                <input asp-for="NumIp" class="form-control" />
                <span asp-validation-for="NumIp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImpresoraId" class="control-label"></label>
                <select asp-for="ImpresoraId" class ="form-control" asp-items="ViewBag.ImpresoraId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NombreUsuarioId" class="control-label"></label>
                <select asp-for="NombreUsuarioId" class ="form-control" asp-items="ViewBag.NombreUsuarioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MotherBoardId" class="control-label"></label>
                <select asp-for="MotherBoardId" class ="form-control" asp-items="ViewBag.MotherBoardId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TecladoId" class="control-label"></label>
                <select asp-for="TecladoId" class ="form-control" asp-items="ViewBag.TecladoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
