@model Impresora
@{
    ViewData["Title"] = "Disco Duro";
}

<h2>Borrar Impresora</h2>

<h3>Estas Seguro que quieres borrar esto</h3>
<div>
    <h4>Ingresa el numero de inventario de la impresora</h4>
   <form method="post">
    <div>
        <label asp-for="NumInvId" class="form-label"></label>
        <input asp-for="NumInvId"  required placeholder="Ejemplo: 45324" class="form-control"/>
    </div>
  

    <input type="submit" value = "Borrar"/>
</form>


   
</div>
