@model Impresora
@{
    ViewData["Title"] = "Impresora";
}

<h2>Buscar Impresora</h2>

<h3>Ingrese la marca de inventario de la impresora</h3>
<div>
    <form method="post">
    <div>
        <label asp-for="Marca" class="form-label"></label>
        <input asp-for="Marca"  required placeholder="Ejemplo:Epson" class="form-control"/>
    </div>
  

    <input type="submit" value = "Buscar"/>
</form>
    



</div>
