@model Impresora
@{
    ViewData["Title"] = "Impresora";
}

<h1>Disco Duro</h1>

<p>Numero de Inventario: @Model.NumInvId</p>
<p>Numero de serie: @Model.NumSerie</p>
<p>Marca: @Model.Marca</p>
<p>Estado: @Model.estado</p>


