@model MotherBoard
@{
    ViewData["Title"] = "Board";
}

<h2>Buscar Board</h2>

<h3>Ingrese la marca de la board</h3>
<div>
    <form method="post">
        <div>
            <label asp-for="Marca" class="form-label"></label>
            <input asp-for="Marca" required placeholder="Ejemplo: Asus" class="form-control" />
        </div>


        <input type="submit" value="Buscar" />
    </form>




</div>
