@model IEnumerable<MotherBoard>
@{
    ViewData["Title"] = "Board";
}

<h1>Todas las motherboard</h1>

<div class = "table-responsive-sm">
  <a asp-controller="Board" asp-action="Crear" class= "btn-info btn-sm">Crear</a>
  <a asp-controller="Board" asp-action="Editar" class="btn-info btn-sm">Editar</a>
  <a asp-controller="Board" asp-action="Borrar" class="btn-info btn-sm">Borrar</a>
  <a asp-controller="Board" asp-action="BuscarSerie" class="btn-info btn-sm">Buscar por numero de serie</a>
  <a asp-controller="Board" asp-action="BuscarMarca" class="btn-info btn-sm">Buscar por Marca</a>
<table class="table table-bordered table-info" >
  <thead>
    <tr>
      <th scope="col">Numero de serie</th>
      <th scope="col">Marca</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>

    @foreach (var obj in Model)
    {
      <tr>
        <td>@obj.NumSerieId</td>
        <td>@obj.Marca</td>
        <td>@obj.estado</td> 
      </tr>
    }

  </tbody>
</table>
</div>
