@model Teclado
@{
    ViewData["Title"] = "Teclado";
}

<h2>Buscar teclado</h2>

<h3>Ingrese el numero de serie del teclado que desea buscar</h3>
<div>
    <form method="post">
    <div>
        <label asp-for="NumSerie" class="form-label"></label>
        <input asp-for="NumSerie"  required placeholder="Ejemplo: 6f77xhx7x7x3ed" class="form-control"/>
    </div>
  

    <input type="submit" value = "Buscar"/>
</form>
    



</div>
