@model DiscoDuro
@{
  ViewData["Title"] = "Disco Duro";
}

<h1>Inserta los datos del nuevo disco Duro</h1>
<Form method="post">
  <div class="mb-3">
    <label asp-for="NumSerieId" class="form-label"></label>
    <input asp-for="NumSerieId" type="text" required placeholder="Ejemplo: 6r6f6f784uj8" class="form-control">
  </div>
  <div class="mb-3">
    <label asp-for="Marca" class="form-label"></label>
    <input asp-for="Marca" type="text" required placeholder="Ejemplo: Toshiba" class="form-control">
  </div>
  <div class="mb-3">
    <label asp-for="TipoConexion" class="form-label"></label>
    <input asp-for="TipoConexion" type="text" required placeholder="Ejemplo: Sata" class="form-control">
  </div>
  <div class="mb-3">
    <label asp-for="Capacidad" class="form-label"></label>
    <input asp-for="Capacidad" type="text" required placeholder="Ejemplo: 500" class="form-control">
  </div>

  <div class="mb-3">
    <label asp-for="estado" class="form-label"></label>

    @Html.DropDownList(
    "estado", Html.GetEnumSelectList<Estado>(),
    "Seleccione un estado"
    )
  </div>
  <input type="submit" value="Crear">
</Form>
