@model DiscoDuro
@{
  ViewData["Title"] = "Disco Duro";
}

<h1>Inserta <strong>el numero de serie del disco que quieres editar</strong> y los datos a cambiar en el Disco</h1>
<Form method="post">
  <div class="mb-3">
    <label asp-for="NumSerieId" class="form-label"></label>
    <input asp-for="NumSerieId" type="text" required placeholder="Ejemplo: 5y5ht7r74" class="form-control">
  </div>
  <div class="mb-3">
    <label asp-for="Marca" class="form-label"></label>
    <input asp-for="Marca" type="text" required placeholder="Ejemplo: toshiba" class="form-control">
  </div>
  <div class="mb-3">
    <label asp-for="TipoConexion" class="form-label"></label>
    <input asp-for="TipoConexion" type="text" required placeholder="Ejemplo: sata" class="form-control">
  </div>
  <div class="mb-3">
    <label asp-for="Capacidad" class="form-label"></label>
    <input asp-for="Capacidad" type="text" required placeholder="Ejemplo: 500" class="form-control">
  </div>

  <div class="mb-3">
    <label asp-for="estado" class="form-label"></label>

    @Html.DropDownList(
    "estado", Html.GetEnumSelectList<Estado>(),
    "Seleccione un estado"
    )
  </div>
  <input type="submit" value="Editar">
</Form>