@model ProyectoInventarioASP.Models.DiscoDuro

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h1>Modificar</h1>

<h4>DiscoDuro</h4>
<hr />
<div class="row">
    <div class="col-md-5 border border-1">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NumSerieId" />
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control border border-5" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoConexion" class="control-label"></label>
                <input asp-for="TipoConexion" class="form-control border border-5" />
                <span asp-validation-for="TipoConexion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacidad" class="control-label"></label>
                <input asp-for="Capacidad" class="form-control border border-5" />
                <span asp-validation-for="Capacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotherBoardId" class="control-label"></label>
                <select asp-for="MotherBoardId" class="form-control" asp-items="ViewBag.MotherBoardId"></select>
                <span asp-validation-for="MotherBoardId" class="text-danger"></span>
            </div>
             <div class = "form-group">
             <label asp-for="estado"></label>
              @Html.DropDownList(
              "Estado", Html.GetEnumSelectList<Estado>(),
              "Seleccione un estado",
              new{@class = "form-control"}
              )
              </div>
            <div class="form-group p-2">
                <input type="submit" value="Guardar" class="btn " />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
