@model DiscoDuro
@{
    ViewData["Title"] = "Discos Duros";
}

<h1>Disco Duro</h1>

<p>Numero de serie: @Model.NumSerieId</p>
<p>Marca: @Model.Marca</p>
<p>Tipo de Conexion:@Model.TipoConexion</p>
<p>Capacidad: @Model.Capacidad</p>
<p>Estado: @Model.estado</p>


