@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Upssss</h4>
  <p>Hubo un error al eliminar</p>
  <hr>
  <p class="mb-0">No se puede eliminar ese elemento proque esta todavia asociado a otro equipo</p>
</div>
