@{
  ViewData["Title"] = "Home Page";
}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" style="height: 400px;">
    <div class="carousel-item active">
      <img src="~/Assets/computadorab.png" class="d-block w-100" style="height: 500px;" alt="...">
    </div>
    <div class="carousel-item" style="height: 400px;">
      <img src="~/Assets/impresorab.png" class="d-block w-100" style="height: 400px;" alt="...">
    </div>
    <div class="carousel-item" style="height: 400px;">
      <img src="~/Assets/tecladob.png" class="d-block w-100 h-50" style="height: 400px;" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon btn-primary" aria-hidden="true"></span>
    <span class="visually-hidden  btn-primary">Previous</span>
  </button>
  <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon btn-primary" aria-hidden="true"></span>
    <span class="visually-hidden btn-primary">Next</span>
  </button>
</div>





<div class="text-center">
  <h1 class="display-4">Welcome</h1>
</div>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="~/Assets/Computer.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Computadoras</h5>
      <p class="card-text">Base de datos de las Pc</p>
      <a asp-controller="Computadora" asp-action="TodasComputadoras" class="btn btn-primary">Click Aqui</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/Assets/DiscoDuro.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Discos Duros</h5>
      <p class="card-text">Base de datos de los discos</p>
      <a asp-controller="DiscoDuro" asp-action="TodosDiscosDuros" class="btn btn-primary">Click Aqui</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/Assets/impresora.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Impresoras</h5>
      <p class="card-text">Base de datos de las impresoras</p>
      <a asp-controller="Impresora" asp-action="TodasImpresoras" class="btn btn-primary">Click Aqui</a>
    </div>
  </div>
</div>

<br>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="~/Assets/monitor.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Monitores</h5>
      <p class="card-text">Base de datos de los monitores</p>
      <a asp-controller="Display" asp-action="TodosMonitores" class="btn btn-primary">Click Aqui</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/Assets/memoryram.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Memorias Ram</h5>
      <p class="card-text">Base de datos de las memorias</p>
      <a asp-controller="MemoriaRam" asp-action="TodasMemorias" class="btn btn-primary">Click Aqui</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/Assets/keyboard.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Teclados</h5>
      <p class="card-text">Base de datos de los Teclados</p>
      <a asp-controller="Teclado" asp-action="TodosTeclados" class="btn btn-primary">Click Aqui</a>
    </div>
  </div>
</div>
