@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
</div>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="~/Assets/Computer.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Computadoras</h5>
      <p class="card-text">Base de datos de las Pc</p>
      <a asp-controller="Computadora" asp-action="TodasComputadoras" class="btn btn-primary">Click Aqui</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/Assets/DiscoDuro.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Discos Duros</h5>
      <p class="card-text">Base de datos de los discos</p>
      <a asp-controller="DiscoDuro" asp-action="TodosDiscosDuros" class="btn btn-primary">Click Aqui</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/Assets/impresora.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Impresoras</h5>
      <p class="card-text">Base de datos de las impresoras</p>
      <a asp-controller="Impresora" asp-action="TodasImpresoras" class="btn btn-primary">Click Aqui</a>
    </div>
  </div>
</div>

<br>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="~/Assets/monitor.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Monitores</h5>
      <p class="card-text">Base de datos de los monitores</p>
      <a asp-controller="Display" asp-action="TodosMonitores" class="btn btn-primary">Click Aqui</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/Assets/memoryram.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Memorias Ram</h5>
      <p class="card-text">Base de datos de las memorias</p>
      <a asp-controller="MemoriaRam" asp-action="TodasMemorias" class="btn btn-primary">Click Aqui</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/Assets/keyboard.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Teclados</h5>
      <p class="card-text">Base de datos de los Teclados</p>
      <a asp-controller="Teclado" asp-action="TodosTeclados" class="btn btn-primary">Click Aqui</a>
    </div>
  </div>
</div>
