@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Upss</h4>
  <p>Algo salio mal</p>
  <hr>
  <p class="mb-0">Entro un componente que se encuentra vacio por favor revise el formulario y vuelva a inentarlo</p>
</div>
