@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Lo sentimos</h4>
  <p>Usted no tiene los suficientes perimisos para acceder a esta funcion</p>
  <hr>
  <p class="mb-0">Para mas informacion consulte con su administrador de red</p>
</div>
