@{
    ViewData["Title"] = "Privacy Policy";
    Layout = null;
}
<div class="d-flex align-items-center justify-content-center vh-100 bg-primary">
        <h1 class="display-1 fw-bold text-white">Lo sentimos no tiene permiso para acceder a esta funcion</h1>
</div>
