@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Upssss</h4>
  <p>Este equipo ya tiene salida</p>
  <hr>
  <p class="mb-0">Si se volvio a romper vuelve a darle entrada</p>
</div>
