@model MemoriaRam
@{
    ViewData["Title"] = "Memoria Ram";
}


<h2>Buscar memoria ram</h2>

<h3>Ingrese la marca de la memoria que desea buscar</h3>
<div>
    <form method="post">
        <div>
            <label asp-for="Marca" class="form-label"></label>
            <input asp-for="Marca" required placeholder="Ejemplo:Kingston" class="form-control" />
        </div>


        <input type="submit" value="Buscar" />
    </form>




</div>
