@model MemoriaRam
@{
    ViewData["Title"] = "Memoria Ram";
}

<h2>Buscar memoria</h2>

<h3>Ingrese la capacidad de la memoria que desea buscar</h3>
<div>
    <form method="post">
        <div>
            <label asp-for="Capacidad" class="form-label"></label>
            <input asp-for="Capacidad" required placeholder="Ejemplo: 2" class="form-control" />
        </div>


        <input type="submit" value="Buscar" />
    </form>




</div>
