@model MemoriaRam
@{
    ViewData["Title"] = "Memoria Ram";
}

<h1>Memoria Ram</h1>

<p>Numero de serie: @Model.NumSerieId</p>
<p>Marca: @Model.Marca</p>
<p>Tipo de Conexion:@Model.Capacidad</p>
<p>Capacidad: @Model.Tecnologia</p>
<p>Estado: @Model.estado</p>


