@model ProyectoInventarioASP.Models.Celular

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1 class="h1">Insertar</h1>

<h4 class="h4">Celular</h4>
<hr />
<div class="row">
    <div class="col-md-5 border border-1">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumSerie" class="control-label"></label>
                <input asp-for="NumSerie" class="form-control border border-5" />
                <span asp-validation-for="NumSerie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumInv" class="control-label"></label>
                <input asp-for="NumInv" class="form-control border border-5" />
                <span asp-validation-for="NumInv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control border border-5" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado"></label>
                @Html.DropDownList(
                "Estado", Html.GetEnumSelectList<Estado>(),
                "Seleccione un estado",
                new{@class = "form-control"}
                )
            </div>
            @* <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <select asp-for="UserName" class="form-control" asp-items="ViewBag.NombreUser"></select>
                </div> *@
            @if (ViewBag.Trabajadores == null)
            {
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <select asp-for="UserName" class="form-control" asp-items="ViewBag.NombreUser"></select>
                </div>
            }
            @if (ViewBag.Trabajadores != null)
            {
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" placeholder="Introduzca un usuario" class="form-control border border-5"
                    list="usuarios" />
                    <datalist id="usuarios">
                        @foreach (var item in ViewBag.Trabajadores)
                        {
                            <option value="@item.NombreUsuario">@item.NombreUsuario</option>
                        }
                    </datalist>
                </div>
            }
            <div class="form-group p-2">
                <input type="submit" value="Crear" class="btn btn-orange btn-sm" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
