@model ProyectoInventarioASP.Models.Laptop

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}
 
    <h1>Imprimir</h1>

    <h4>Ingrese un dato de las laptop que quieres imprimir</h4>
    <hr />

    <form method="post" asp-controller="Laptop", asp-action="Imprimir">
           <div class="form-row border border-1">
            <div class="form-group col-md-6">
                <label asp-for="NumInv" class="control-label"></label>
                <input asp-for="NumInv" class="form-control border border-5" required />
            </div>

            <div class="form-group col-md-6">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Volver</a>
    </div>

    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

