@model Salida

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1>Insertar</h1>

<h4>Salida</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Salida" asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="salida" class="control-label"></label>
                <input asp-for="salida" class="form-control" />
                <span asp-validation-for="salida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaSalida" class="control-label"></label>
                <input asp-for="FechaSalida" class="form-control" />
                <span asp-validation-for="FechaSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntradaId" class="control-label"></label>
                <select asp-for="EntradaId" class="form-control" asp-items="ViewBag.EntradaId"></select>
            </div>
            <div class="mb-3">
                <label asp-for="observaciones" class="form-label">Observaciones: </label>
                <textarea class="form-control" asp-for="observaciones" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Insertar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
