@model ProyectoInventarioASP.Models.Salida

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h1 class="h1">Modificar</h1>

<h4 class="h4">Salida</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="salida" class="control-label"></label>
                <input asp-for="salida" class="form-control border border-5" />
                <span asp-validation-for="salida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaSalida" class="control-label"></label>
                <input asp-for="FechaSalida" class="form-control border border-2" />
                <span asp-validation-for="FechaSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="EntradaId" class="form-control" type="hidden">
            </div>
            <div class="mb-3">
                <label asp-for="observaciones" class="form-label">Observaciones: </label>
                <textarea class="form-control border border-2" asp-for="observaciones" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group p-2">
                <input type="submit" value="Dar Salida" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
