@model Usuario
@{
    ViewData["Title"] = "Usuario";
}

<h1>Usuario</h1>


<p>Numero de inventario: @Model.NombreUsuarioId</p>
<p>Numero de serie: @Model.NombreCompleto</p>
<p>Marca: @Model.NombreDepartamento</p>
<p>Estado: @Model.NombreArea</p>



